<a href="https://colab.research.google.com/github/manikanta0403/Main-flow-Internship/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task - 02

In [1]:
sample_data = """name,age,city,salary
Alice,34,New York,70000
Bob,28,San Francisco,80000
Charlie,NaN,Los Angeles,NaN
David,45,New York,90000
Eva,NaN,San Francisco,NaN
Frank,30,Los Angeles,60000
Grace,40,New York,100000
"""

with open('sample_data.csv', 'w') as file:
    file.write(sample_data)

In [5]:
import pandas as pd

# Step 1: Load data into a DataFrame
df = pd.read_csv('sample_data.csv')

In [7]:
print("Initial DataFrame:")
print(df.head())

Initial DataFrame:
      name   age           city   salary
0    Alice  34.0       New York  70000.0
1      Bob  28.0  San Francisco  80000.0
2  Charlie   NaN    Los Angeles      NaN
3    David  45.0       New York  90000.0
4      Eva   NaN  San Francisco      NaN

In [8]:
# Step 2: Filter data based on conditions
filtered_df = df[df['age'] > 30]
print("Filtered DataFrame (age > 30):")
print(filtered_df)

Filtered DataFrame (age > 30):
    name   age      city    salary
0  Alice  34.0  New York   70000.0
3  David  45.0  New York   90000.0
6  Grace  40.0  New York  100000.0

In [9]:
# Step 3: Handle missing values
# Fill missing values with 0
df_filled = df.fillna(0)
print("DataFrame with missing values filled:")
print(df_filled)

DataFrame with missing values filled:
      name   age           city    salary
0    Alice  34.0       New York   70000.0
1      Bob  28.0  San Francisco   80000.0
2  Charlie   0.0    Los Angeles       0.0
3    David  45.0       New York   90000.0
4      Eva   0.0  San Francisco       0.0
5    Frank  30.0    Los Angeles   60000.0
6    Grace  40.0       New York  100000.0

In [10]:
# Drop rows with any missing values
df_dropped_rows = df.dropna()
print("DataFrame with rows with missing values dropped:")
print(df_dropped_rows)

DataFrame with rows with missing values dropped:
    name   age           city    salary
0  Alice  34.0       New York   70000.0
1    Bob  28.0  San Francisco   80000.0
3  David  45.0       New York   90000.0
5  Frank  30.0    Los Angeles   60000.0
6  Grace  40.0       New York  100000.0

In [11]:
# Drop columns with any missing values
df_dropped_columns = df.dropna(axis=1)
print("DataFrame with columns with missing values dropped:")
print(df_dropped_columns)

DataFrame with columns with missing values dropped:
      name           city
0    Alice       New York
1      Bob  San Francisco
2  Charlie    Los Angeles
3    David       New York
4      Eva  San Francisco
5    Frank    Los Angeles
6    Grace       New York

In [12]:
# Step 4: Calculate summary statistics
summary_stats = df.describe()
print("Summary statistics for all numeric columns:")
print(summary_stats)

age_stats = df['age'].describe()
print("Summary statistics for 'age' column:")
print(age_stats)

mean_age = df['age'].mean()
median_age = df['age'].median()
mode_age = df['age'].mode()

print(f"Mean age: {mean_age}")
print(f"Median age: {median_age}")
print(f"Mode age: {mode_age[0]}")

Summary statistics for all numeric columns:
             age         salary
count   5.000000       5.000000
mean   35.400000   80000.000000
std     7.056912   15811.388301
min    28.000000   60000.000000
25%    30.000000   70000.000000
50%    34.000000   80000.000000
75%    40.000000   90000.000000
max    45.000000  100000.000000
Summary statistics for 'age' column:
count     5.000000
mean     35.400000
std       7.056912
min      28.000000
25%      30.000000
50%      34.000000
75%      40.000000
max      45.000000
Name: age, dtype: float64
Mean age: 35.4
Median age: 34.0
Mode age: 28.0